{
    "vsphere": {
        "vsphere_username": "${vsphere_user}",
        "vsphere_password": "${vsphere_password}",
        "vsphere_server": "${vsphere_server}",
        "validate_certs": false,
        "vsphere_datacenter": "${vsphere_datacenter}"       
    },
    "vsphere_vm": {
        "virtual_machine_uuid": "${virtual_machine_uuid}",
        "vm_snapshot_name":"${vm_snapshot_name}"
    },
    "action": {
        "value": "action_value"
    }
}